@charset "UTF-8";
html{
    font-family: YuMincho, serif;
    font-variant-ligatures: none;
    font-size: 1pc;
    background: #f7f6f3;
}
body {
    font-feature-settings: palt\1;
    color: #504a4a;
    margin-left: 2em;
}
::selection {
    background: #ff81a3;
    color: #f7f6f3;
}
::-moz-selection {
    background: #ff81a3;
    color: #f7f6f3;
}
header{
    letter-spacing: 0.05em;
}
h1 {
    font-size: 2.4em;
	font-weight: 100;
    margin: .6em 0 0 0;
}
h2{
    font-size: 1.2em;
    font-weight: 100;
    margin: 0 0 0 0.12em;
    line-height: 1.8em;
}
ul {
    padding: 0;
    margin-left: 0.1em;
}
li {
    list-style: none;
    line-height: 1.8em;
	display: inline-block;
	margin: 0 .5rem 0 0;
}
a {
    text-decoration: none;
    position: relative;
    transition: 0.36s;
}
a:link,
a:visited {
    color: #504a4a;
}
a:hover {
    color: #ff81a3;
}
a:hover:after {
    width: 0.9rem;
}
a:active {
    color: #fd4a7a;
}
footer {
    position: absolute;
    bottom: 0.3rem;
    font-size: 0.6em;
    letter-spacing: 0.075em;
}
.footerlink:after {
    content: none;
}
